.planItem-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.price-container {
  display: flex;
}
.price-text {
  font-family: system-ui;
  color: #000000;
  font-size: 60px;
  margin-top: 0px;
  margin-left: 10px;
  font-weight: 700;
}
.INR-text {
  font-family: system-ui;
  font-size: 23px;
  align-self: flex-start;
  color: #000000;
}
.green-container {
  background-color: #e1f0dd;

  border-top: 2px solid #77d156;
  border-bottom: 2px solid #77d156;
}
.green-text {
  text-align: center;
  font-family: system-ui;
  color: #000000;
  font-size: 20px;
  font-weight: 700;
}
.plan-details-container {
  padding: 20px;
}
.plan-text {
  font-family: system-ui;
  color: #000000;
  font-size: 20px;
  font-weight: 700;
  margin-top: 70px;
  margin-bottom: 40px;
}
.details-container {
  display: flex;
}
.tick-icon {
  font-size: 40px;
  color: #77d156;
  margin-right: 20px;
  margin-top: 0px;
}
.details-text {
  font-family: system-ui;
  color: #000000;
  font-weight: 500;
  font-size: 22px;
  margin-top: 0px;
}
.try-button {
  align-self: center;
  width: 80%;
  font-family: system-ui;
  background-color: #000000;
  color: #ffffff;
  font-size: 20px;
  font-weight: 600;
  padding: 20px;
  border-radius: 35px;
  margin-top: 30px;
}
